
<div>
    <img src="../../images/Ddecor_Desk.jpg" alt="summa" class="homesectionImage">
    <img src="../../images/Airtel-strip-D-.jfif" alt="recharge offers" class="homesectionImage">
    <img src="../../images/extra offers.jpg" alt="extra offer" class="homesectionImage" >
</div>